.item-picker {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    max-width: 995px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 150ms ease-in-out;
}

.picker-on {
    opacity: 1;
}

.picker-fadeout {
    opacity: 0;
}



.item-picker-content {
    width: 100%;
}

.item-picker-topbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 56px;
    width: 100%;
    max-width: 995px;
    background-color: rgba(0, 0, 0, 0.7);
    /* box-shadow: 0px 2px 1px 0px rgba(140, 140, 140, 0.1); */
    position: fixed;
    top: 56px;
    z-index: 1;
    /* opacity: 1 !important; */
}

.item-picker-search {
    margin-right: 24px;
}

.items-display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 66px 0 10px 0;
}

.item-wrapper {
    position: relative;
    text-align: center;
    width: 160px;
    height: 107px;
    cursor: pointer;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px black;
    transition: all 0.2s ease-in-out;
}

.item-image {
    max-width: 160px;
    max-height: 100px;
}

.item-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(255,255,255, 0.8);
    color: black;
    font-size: 0.97em;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
}

@media (hover: hover) {
    .item-wrapper:hover {
        transform: scale(1.04);
    }
}

@media screen and (max-width: 331px) {
    .item-wrapper {
        width: 154px;
        height: 103px;
    }
    .item-image {
        max-width: 154px;
        max-height: 96px;
    }
    .item-name {
        font-size: 0.9em;
    }
}