.item-picker {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 150ms ease-in-out;
}

.picker-on {
    opacity: 1;
}

.picker-fadeout {
    opacity: 0;
}

.item-picker-content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

.item-picker-topbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 56px;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 56px;
    z-index: 1;
}

.item-picker-search {
    margin-right: 24px;
}

.items-display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 66px 0 10px 0;
    max-width: 1100px;
    transition: opacity 200ms;
}

.show-list {
    opacity: 1;
    pointer-events: all;
}

.hide-list {
    opacity: 0;
    pointer-events: none;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: 160px;
    height: 107px;
    cursor: pointer;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px rgba(255, 249, 160, 0.3);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.item-image {
    max-width: 160px;
    transition: all 0.2s ease-in-out;
    /* max-height: 100px; */
}

.item-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    bottom: 0;
    color: rgba(255, 249, 160, 0.8);
    font-size: 0.97em;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.7);
    /* line-height: 1em; */
    /* height: 70px; */
    box-shadow:  0 0 20px 3px rgba(0, 0, 0, 1);
    transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 1203px) and (hover: hover) {
    .item-wrapper:hover {
        border: solid 1px rgba(255, 249, 160, 0.73);
    }
    .item-wrapper:hover .item-name {
        color: rgba(255, 249, 160, 1);
        text-shadow: 0 0 20px rgba(255, 249, 160, 1);
        /* box-shadow: inset 0 -17px 10px 3px rgba(0, 0, 0, 0.7); */
    }
    .item-wrapper:hover .item-image {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 331px) {
    .item-wrapper {
        width: 154px;
        height: 103px;
    }
    .item-image {
        max-width: 154px;
        max-height: 96px;
    }
    .item-name {
        font-size: 0.9em;
    }
}