.my-builds {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    flex: 1 0 auto;
    width: 100%;
    max-width: 900px;
    padding-top: 36px;
    background-color: rgba(0, 0, 0, 0.7)
}

.builds-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3px;
    margin-bottom: 10px;
}

.my-builds-topbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 56px;
    width: 100%;
    max-width: 995px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 56px;
    z-index: 1;
}

.my-builds-search {
    margin-right: 24px;
}

.my-builds-subtitle {
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    margin: 25px 0 5px 0;
}

.my-build-container {
    display: flex;
    width: 97vw;
    max-width: 790px;
    border: solid 1px rgba(255, 249, 160, 0.3);
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    margin-top: 2px;
}

.my-item-wrapper {
    position: relative;
    text-align: center;
    width: 133px;
    height: 89px;
    flex-shrink: 0;
    overflow: hidden;
}

.my-item-image {
    width: 133px;
    /* transition: all 0.2s ease-in-out; */
    /* max-height: 100px; */
}

.my-item-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    bottom: 0;
    color: rgba(255, 249, 160, 0.8);
    font-size: 0.85em;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.55);
    /* line-height: 1em; */
    /* height: 70px; */
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 1);
    /* transition: all 0.2s ease-in-out; */
}

.my-build-list-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* flex-shrink: 1; */
    align-items: center;
    justify-content: center;
    /* width: 90%; */
    max-width: 525px;
    min-width: 267px;
    padding: 0 5px;
    height: 89px;
    min-height: 89px;
    /* background-color: black; */
    /* margin: 3px; */
    border-left: 1px solid rgba(255, 249, 160, 0.3);
    border-right: 1px solid rgba(255, 249, 160, 0.3);
    color: rgba(255, 249, 160, 1);
    box-sizing: border-box;
}

.my-build-item-row {
    width: 100%;
    max-width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
}

.name-row {
    justify-content: space-between;
}

.info-row {
    justify-content: space-around;
}

.my-build-list-name {
    /* width: 190px; */
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 18px;
    overflow: hidden;
}

.my-build-list-img {
    max-width: 50px;
    max-height: 39px;
    width: auto;
    height: auto;
}

.my-riven-placeholder {
    width: 43px;
}

.my-build-list-forma-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-builds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border: solid 1px rgba(255, 249, 160, 0.73);
    background-color: black;
    color: white;
    margin-top: 100px;
    max-width: 70vw;
    text-align: justify;
}

.my-build-buttons {
    width: 133px;
    flex-shrink: 0;
}

.delete-button {
    /* background-color: red; */
    border: solid 1px rgba(255, 0, 0, 0.3);
}

.delete-button:after {
    border-bottom: solid 2px red;
}

.delete-button p {
    color: red;
}

.conformation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conformation-dialog {
    color: white;
    text-align: center;
    margin-bottom: 35px;
}

.conformation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border: solid 1px rgba(255, 249, 160, 0.73);
    background-color: black;
}

.conformation-buttons {
    display: flex;
}

.my-build-outdated {
    color: red;
}

@media screen and (min-width: 1203px) and (hover: hover) {
    .delete-button:hover {
        color: red;
        box-shadow: inset 0px -17px 15px -11px rgba(255, 0, 0, 0.73);
        border-color: rgba(255, 0, 0, 0.73);
        text-shadow: 0px 0px 8px rgba(255, 0, 0, 1);
    }
}

@media screen and (max-width: 550px) {
    .my-build-container {
        flex-wrap: wrap;
        max-width: 500px;
    }
    .my-build-list-item {
        /* order: 3; */
        border: 0px;
    }
    .my-item-wrapper {
        width: 50%;
        order: 1;
        /* border-bottom: dotted 1px grey; */
    }
    .my-build-buttons {
        width: 50%;
        order: 2;
        /* border-bottom: dotted 1px grey; */
    }
}