.polarity-picker {
    justify-content: center;
    align-items: center;
}

.polarity-picker-window {
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 249, 160, 0.3);
    /* top: 35%; */
    /* left: 50%; */
    /* transition: opacity 0.1s; */
    /* margin-top: -156px; */
    /* margin-left: 44px; */
}

.hexa-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.hex-polarity {
    position: relative;
    width: 28px;
    top: -8px;
    padding: 6px;
    transition: all 0.2s ease-in-out;
}

.hexagon {
    position: relative;
    width: 40px;
    height: 23.09px;
    background-color: #ffffff;
    margin: 11.55px 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 28.28px;
    height: 28.28px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.hexagon:before {
    top: -14.1421px;
}

.hexagon:after {
    bottom: -14.1421px;
}

.hexagon span {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 40px;
    height: 23.0940px;
    z-index: 2;
    background: inherit;
}

.show-polarity-picker {
    opacity: 1;
    pointer-events: auto;
}

.hide-polarity-picker {
    opacity: 0;
    pointer-events: none;
}