.topbar-filter {
    width: 40px;
    min-width: 40px;
}

.conclave-placeholder {
    background-size: contain;
    width: 40px;
    height: 40px;
}

.conclave-placeholder-active {
    background-image: url('../../assets/conclaverare.png');
}

.conclave-placeholder-inactive {
    background-image: url('../../assets/conclave.png');
}

.aura-placeholder {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

.aura-placeholder-active {
    background-image: url('../../assets/aurarare.png');
}

.aura-placeholder-inactive {
    background-image: url('../../assets/auraprime.png');
}

.exilus-placeholder {
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

.exilus-placeholder-active {
    background-image: url('../../assets/exilusrare.png');
}

.exilus-placeholder-inactive {
    background-image: url('../../assets/exilusprime.png');
}

@media screen and (min-width: 1223px) {
    .mod-picker {
        display: flex;
        width: 315px;
        min-height: 100%;
        overflow-y: hidden;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .mod-list-topbar {
        position: fixed;
        width: 315px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.8);
        height: 56px;
        min-height: 56px;
        border-bottom: 1px solid rgba(255, 249, 160, 0.3);
    }
    .mod-list-search-wrapper {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        margin-right: 10px;
    }
    .mod-list {
        position: fixed;
        display: flex;
        width: 315px;
        flex-wrap: wrap;
        height: calc(100vh - 113px);
        top: 113px;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 0 15px 0;
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .mod-wrapper {
        transition: all 150ms ease-in-out;
    }
}

@media screen and (min-width: 1223px) and (max-width: 1392px) {
    .mod-picker,
    .mod-list-topbar,
    .mod-list {
        width: 170px;
    }
    .mod-list-topbar {
        height: 112px;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .mod-list {
        top: 169px;
        height: calc(100vh - 169px);
    }
    .mod-list-search-wrapper {
        margin-right: 3px;
        margin-left: 3px;
    }
}

@media screen and (max-width: 1222px) {
    .mod-list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: initial;
        padding: 10px 0;
        box-sizing: border-box;
        border-top: 1px solid rgba(255, 249, 160, 0.3);
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .mod-list-search-wrapper {
        margin-right: 24px;
        margin-left: 20px;
    }
    .mod-list-topbar {
        justify-content: space-between;
    }
}

@media (hover:hover) {
    .mod-wrapper:hover {
        transform: translateZ(0) scale(1.1,1.1);
    }
}