.mod-options-wrapper {
    display: flex;
    height: 100%;
    z-index: 20;
}

.mod-dropdown-trigger {
    color: rgba(255, 249, 160, 0.7);
    width: 75px;
    height: 100%;
    box-sizing: border-box;
    /* transition: all 100ms ease-in-out; */
    cursor: pointer;
    z-index: 20;
}

.mod-dropdown-trigger-fill {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dropdown-block {
    position: absolute;
    color: white;
    z-index: 20;
    width: 105px;
    background-color: rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(255, 249, 160, 0.3);
    border-left: 1px solid rgba(255, 249, 160, 0.3);
    border-bottom: 1px solid rgba(255, 249, 160, 0.3);
    overflow: hidden;
    box-sizing: border-box;
    transform: translateY(-100%);
    pointer-events: all;
}

.sort-block {
    left: 75px;
}

.filter-inactive {
    height: 0;
    pointer-events: none;
    z-index: 1;
}

.filter-active {
    height: 379px;
    pointer-events: all;
    border-bottom: 1px solid rgba(255, 249, 160, 0.3);
}

.sort-inactive {
    height: 0;
    pointer-events: none;
    z-index: 1;
}

.sort-active {
    height: 127px;
    pointer-events: all;
    border-bottom: 1px solid rgba(255, 249, 160, 0.3);
}


.dropdown-option {
    display: flex;
    align-items: center;
    height: 42px;
    min-height: 42px;
    padding: 0 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.filter-pol {
    width: 20px;
    margin-right: 3px;
}

.hidden-mod {
    pointer-events: none;
    display: none;
}

.mod-list {
    position: relative;
    z-index: 0;
}

.slide-enter {
    transform: translateY(-100%);
    transition: 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-done {
    transform: translateY(0%);
}

.slide-enter.slide-enter-active {
    transform: translateY(0%);
}

.slide-exit {
    transform: translateY(0%);
    transition: .3s ease-in-out;
}

.slide-exit-done {
    transform: translateY(-100%);
}

.slide-exit.slide-exit-active {
    transform: translateY(-100%);
}

.dropdown-container {
    height: 380px;
    top: 56px;
    min-width: 107px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}

.filter-active-warframes {
    height: 463px;
}

.sort-container {
    height: 130px;
}

.mod-wrapper {
    z-index: 1;
}

@media screen and (min-width: 1203px) {
    .mod-picker {
        display: flex;
        width: 315px;
        min-height: 100%;
        overflow-y: hidden;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .mod-list-topbar {
        position: fixed;
        flex-direction: row;
        width: 313px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.8);
        height: 56px;
        min-height: 56px;
        border-bottom: 1px solid rgba(255, 249, 160, 0.3);
        border-left: 1px solid rgba(255, 249, 160, 0.3);
        border-right: 1px solid rgba(255, 249, 160, 0.3);
        z-index: 20;
    }
    .mod-list-search-wrapper {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        margin-right: 5px;
    }
    .mod-list {
        position: fixed;
        display: flex;
        width: 315px;
        flex-wrap: wrap;
        height: calc(100vh - 113px);
        top: 113px;
        margin-top: 0;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 0 15px 0;
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 1;
    }
    .mod-wrapper {
        transition: all 150ms ease-in-out;
    }
    .filter-block {
        left: -1px;
    }
}

@media screen and (max-width: 1202px) {
    .mod-list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: initial;
        padding: 10px 0;
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .mod-list-topbar {
        position: relative;
        justify-content: flex-end;
        flex-direction: row;
        border-bottom: 1px solid rgba(255, 249, 160, 0.3);
        z-index: 20;
    }
    .mod-options-wrapper {
        margin-left: 47px;
        margin-right: auto;
        z-index: 20;
    }
    .mod-list-search-wrapper {
        margin-right: 5px;
        margin-left: 5px;
    }
    .mod-list-x {
        padding: 25px 32px 31px 15px;
    }
    .dropdown-block {
        background-color: black;
        z-index: 20;
    }
    .filter-block {
        left: 47px;
    }
    .sort-block {
        left: 121px;
    }
    .mod-list {
        z-index: 1;
    }
}

@media screen and (min-width: 1203px) and (hover: hover) {
    .mod-wrapper:hover {
        transform: translateZ(0) scale(1.06, 1.06);
    }
    .dropdown-option:hover {
        background-color: rgba(50, 50, 50, 0.8);
    }
}

.active-option {
    color: rgba(255, 249, 160, 1);
    text-shadow: 0px 0px 8px rgba(255, 249, 160, 1);
    font-weight: 600;
}