.conclave {
    width: 40px;
    min-width: 40px;
}
.conclave-placeholder {
    background-image: url('../../assets/conclave.png');
    background-size: contain;
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 1223px) {
    .mod-picker {
        display: flex;
        flex-direction: column;
        flex: 1 50 auto;
        width: 100%;
        height: calc(100vh - 56px);
        overflow-y: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1020;
    }
    .mod-list-topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 56px;
        min-height: 56px;
        border-bottom: 1px solid rgba(255, 249, 160, 0.3);
    }
    .conclave {
        margin-left: 10px;
    }
    .mod-list-search-wrapper {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        margin-right: 10px;
    }
    .mod-list {
        flex-wrap: wrap;
        height: initial;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 0 15px 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1222px) {
    .mod-list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: initial;
        padding: 10px 0;
        box-sizing: border-box;
        border-top: 1px solid rgba(255, 249, 160, 0.3);
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .mod-list-search-wrapper {
        margin-right: 24px;
        margin-left: 20px;
    }
    .mod-list-topbar {
        justify-content: space-between;
    }
}