.like-button {
    min-width: 98px;
}

.like-button:after {
    border-bottom: solid 2px rgb(21, 230, 16);
}

.like-active {
    border-color: rgba(21, 230, 16, 0.73);
    box-shadow: inset 0px -17px 15px -11px rgba(21, 230, 16, 0.73);
    color: rgba(21, 230, 16, 1);
    text-shadow: 0px 0px 8px rgba(21, 230, 16, 1);
}

.like-active:after {
    display: block;
    content: '';
    border-bottom: solid 2px rgba(21, 230, 16, 1);
    transform: scaleX(1);
    transition: transform 200ms ease-in-out;
    opacity: 0.8;
}

@media screen and (min-width: 1280px) and (hover: hover) {
    .like-button:hover {
        color: rgba(21, 230, 16, 0.73);
        box-shadow: inset 0px -17px 15px -11px rgba(21, 230, 16, 0.73);
        border-color: rgba(21, 230, 16, 1);
        text-shadow: 0px 0px 8px rgba(21, 230, 16, 1);
    }
}