.kitgun-picker {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    flex: 1 0 auto;
    width: 100%;
    max-width: 900px;
}

.kitgun-pull-tab {
    display: none;
}

.part-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

.build-list-button {
    align-self: flex-start;
    margin: 10px 0 0 10px;
}

.picker-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 95%;
}

.section-title {
    font-size: 28px;
    margin-top: 15px;
    text-align: center;
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

.modular-part {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    width: 100%;
    border: 1px solid rgba(255, 249, 160, 0.3);
    box-sizing: border-box;
    box-shadow: inset 0 0 0 0 rgba(255, 249, 160, 1);
    cursor: pointer;
}

.modular-part-picked {
    border: 1px solid rgba(255, 249, 160, 0.73);
    box-shadow: inset 0 0 10px 0 rgba(255, 249, 160, 1);
}

.part-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-info {
    display: flex;
    flex-grow: 1;
}

.part-image {
    align-self: center;
    width: 100px;
    max-height: 100%;
}

.part-name {
    position: absolute;
    align-self: flex-end;
    color: rgb(255, 249, 160);
    font-weight: 600;
    max-width: 100px;
    font-size: 14px;
    text-align: center;
}

.part-desc {
    color: white;
    padding: 3px 3px 3px 0;
}

.part-stats {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    color: white;
    padding: 3px 3px 3px 0;
}

.strike-catagory-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 124px;
}

.strike-damage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 136px;
}

.strike-catagory-wrapper p {
    white-space: nowrap;
}

.strike-damage-split {
    display: flex;
}

.part-supplement {
    display: flex;
    flex-direction: column;
    margin-right: 3px;
    width: 132px;
    /* align-items: center; */
}

.supplemental {
    display: flex;
    flex-wrap: nowrap;
    text-align: end;
}

.sup-type {
    width: 86.02px;
    margin-right: 2px;
}

.grip-stat-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.grip-stat-title {
    display: flex;
    justify-content: flex-end;
    /* width: 99px; */
    margin-right: 2px;
}

.grip-stat {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 40px;
}

.damage-instance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    height: 31px;
    width: 28px;
    margin: 0 3px;
}

.damage-instance img {
    height: 12px;
}

.loaders-chart {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 249, 160);
    font-weight: 600;
    text-align: center;
}

.loader-arrow {
    width: 20px;
}

.down-arrow {
    transform: rotate(180deg);
}

.smaller {
    font-size: 12px;
}

.kitgun-ranged-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    min-height: calc(100% - 56px);
    width: 225px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.kitgun-top-bar-margin {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    height: 56px;
}

.mod-it-button {
    margin: 10px 0 !important;
}

.disabled-button {
    margin: 3px;
    min-width: 70px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px;
    transition: all 0.2s ease-in-out;
    user-select: none;
    color: rgba(255, 249, 160, 0.2);
}

.mobile-mod-it {
    display: none;
}

@media screen and (min-width: 901px) {
    .kitgun-ranged-stats-inner-wrapper {
        position: fixed;
        overflow-y: auto;
        max-height: calc(100vh - 56px);
        width: 225px;
        overflow-x: hidden;
    }
    .kitgun-stat-wrapper {
        position: absolute;
    }
}

@media screen and (max-width: 900px) {
    .kitgun-picker {
        /* flex-direction: column; */
        align-items: center;
    }
    .part-select {
        padding-bottom: 65px;
        margin-bottom: 0;
    }
    .mod-it-button {
        visibility: hidden;
        pointer-events: none;
    }
    .mobile-mod-it {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 249, 160, 0.73);
        position: fixed;
        background-color: black;
        border-top: 1px solid rgb(255, 249, 160);
        border-left: 1px solid rgb(255, 249, 160);
        border-right: 1px solid rgb(255, 249, 160);
        font-weight: bold;
        bottom: -1px;
        width: 94vw;
        height: 55px;
        transition: transform 200ms cubic-bezier(.45, .7, .28, .96);
        z-index: 3;
    }
    .mobile-mod-it-active {
        transform: translateY(0);
    }
    .mobile-mod-it-inactive {
        transform: translateY(56px);
    }
    .kitgun-ranged-stats {
        position: fixed;
        top: 56px;
        right: 0;
        height: calc(100vh - 56px);
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.95);
        border-left: solid 1px rgba(255, 249, 160, 0.3);
        transition: all 0.2s ease-in-out;
    }
    .kitgun-top-bar-margin {
        display: none;
    }
    .kitgun-closed-ranged-stats {
        transform: translateX(225px);
    }
    .kitgun-open-ranged-stats {
        transform: translateX(0);
        border-left: solid 1px rgba(255, 249, 160, 0.73);
    }
    .kitgun-pull-tab {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        top: 65px;
        right: 0;
        width: 60px;
        height: 50px;
        font-size: 12px;
        color: rgb(255, 249, 160);
        background-color: rgba(0, 0, 0, 0.95);
        border-top: solid 1px rgba(255, 249, 160, 0.3);
        border-left: solid 1px rgba(255, 249, 160, 0.3);
        border-bottom: solid 1px rgba(255, 249, 160, 0.3);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        z-index: 3;
    }
    .kitgun-pull-tab-arrow {
        position: relative;
        left: 12px;
        height: 22px;
        line-height: 22px;
        transition: transform 0.2s ease-in-out;
    }
    .kitgun-pull-tab p {
        position: relative;
        transform: rotate(-90deg);
        left: 5px;
        font-weight: 600;
    }
    .kitgun-point-left {
        transform: rotate(0);
    }
    .kitgun-point-right {
        transform: rotate(180deg);
    }
    .kitgun-closed-pull-tab {
        transform: translateX(1px);
    }
    .kitgun-open-pull-tab {
        transform: translateX(-224px);
        border-top: solid 1px rgba(255, 249, 160, 0.73);
        border-left: solid 1px rgba(255, 249, 160, 0.73);
        border-bottom: solid 1px rgba(255, 249, 160, 0.73);
    }
}

@media screen and (max-width: 655px) {
    .grip-part-stats {
        flex-direction: column;
        align-items: center;
    }
    .grip-stat-wrapper {
        justify-content: flex-end;
    }
    .grip-stat-title {
        width: 99px;
    }
}

@media screen and (max-width: 527px) {
    .strike-catagory-wrapper p {
        text-align: center;
    }
}