.build-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: unset;
    flex-grow: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.build-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 300px;
    min-width: 200px;
    padding: 0 5px;
    /* height: 75px; */
    min-height: 56px;
    background-color: black;
    margin: 3px;
    border: 1px solid rgba(255, 249, 160, 0.3);
    /* color: rgba(255, 249, 160, 1); */
}

.build-item-row {
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
}

.name-row {
    justify-content: space-between;
    color: white;
}

.info-row {
    justify-content: space-around;
    color: white;
}

.build-list-name {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 18px;
    overflow: hidden;
}

.build-list-img {
    max-width: 50px;
    max-height: 39px;
    width: auto;
    height: auto;
}

.build-list-forma-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-builds-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-num {
    text-align: center;
    font-size: 14px;
}

.no-builds {
    width: 90%;
    max-width: 380px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 249, 160, 0.73);
    color: white;
    text-align: justify;
}

.my-build-outdated {
    color: red;
}