/* .ranged-modding-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 56px;
    flex: 1 0 auto;
    width: 100%;
    box-sizing: border-box;
} */

.ranged-modding {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    flex: 1 0 auto;
    width: 100%;
    max-width: 1200px;
}

.mod-stack {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    /* width: 100%; */
    width: 660px;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* padding: 5px 5px 5px 200px; */
}

.message-wrapper {
    position: relative;
    align-self: center;
    top: -50px;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    background-color: #e51010;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0;
    z-index: 1019;
}

.always-on {
    opacity: 1;
}

.show-error-message {
    animation: brief 5s linear 1;
}

@keyframes brief {
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.display-message {
    color: white;
}

.interactable-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.aug-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 5px;
}

.aug-wrapper {
    display: flex;
}

.aug {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 68px;
    /* margin: 3px; */
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}

.sticky-aug {
    position: sticky;
    top: 56px;
}

.aug-image {
    position: relative;
    width: 75px;
    /* backface-visibility: hidden; */
    /* transition: all 0.3s; */
    /* overflow: hidden; */
}

.forma {
    /* padding: 3px 0; */
}

.catalyst {
    padding: 6px 0;
}

.riven {
    /* position: absolute; */
    /* width: */
    /* overflow: hidden; */
    /* border-radius: 5px; */
    background-image: url('../../assets/rivenicon.jpg');
    /* margin: 0; */
}

.riven-placeholder {
    width: 75px;
    height: 66px;
}

.aug-info {
    width: 75px;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 3px;
    border: solid 1px black;
    font-weight: 600;
}

.aug-info-title {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

.riven-title {
    font-size: 13px;
    line-height: 18px;
}

.aug-info-content {
    line-height: 34px;
}

.slots-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-slots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 640px;
}

.slots {
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.handler-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-blinker {
    position: absolute;
    /* top: 1px; */
    width: 140px;
    height: 205px;
    padding-bottom: 3px;
    pointer-events: none;
    opacity: 0;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.error-flash {
    background: radial-gradient(circle, rgba(255, 0, 0, 0.75) 0%, rgba(255, 0, 0, 0.4) 100%);
    animation: blinker 0.3s linear 2;
    z-index: 1022;
}

@keyframes blinker {
    50% {
        opacity: 1;
    }
}

.outer-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 219.55px;
    margin: 3px;
}

@media screen and (max-width: 1222px) {
    .mod-stack {
        flex: 1 50 auto;
    }
    .message-wrapper {
        position: fixed;
        bottom: 20px;
        top: unset;
    }
    .aug-image {
        backface-visibility: visible;
    }
}

@media screen and (max-width: 828px) {
    .slots {
        max-width: 350px;
    }
}

@media screen and (max-width: 536px) {
    .interactable-wrapper {
        margin-right: 70px;
        /* justify-content: flex-start; */
        justify-content: center;
    }
    .aug-container {
        align-self: flex-start;
        margin-left: 5px;
        margin-right: 0;
    }
}