.frame-ability {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex-shrink: 0;
    width: 200px;
    margin-bottom: 5px;
    padding: 2px 0 1px 0;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: 600;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
}

.ability-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 18px;
}

.ability-title p {
    text-decoration: underline;
}

.warframe-stat {
    display: flex;
    /* align-self: flex-end; */
    align-items: center;
    margin-right: 4px;
    transition: all 200ms;
}

.ability-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    margin: 1px 5px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
}

.ability-stat:last-child {
    border-bottom: 0px;
}

.ability-stat-name {
    width: 140px;
}

.ability-stat-amount {
    display: flex;
    align-items: center;
    transition: all 200ms;
}