@media screen and (min-width: 888px) {
    .frame-aug-container {
        position: absolute;
        top: 65px;
    }
    /* .frame-slots-wrapper {
        position: absolute;
        top: 57px;
        padding: 0;
        align-self: center;
    } */
}
