 .build-saver {
     flex-direction: column;
     flex-shrink: 0;
     justify-content: center;
     align-items: center;
     padding: 10px 0;
     box-sizing: border-box;
     overflow-y: scroll;
     overflow-x: hidden;
 }

 .build-saver-window {
     position: fixed;
     flex-shrink: 0;
     display: flex;
     flex-direction: column;
     /* align-items: center; */
     justify-content: space-between;
     width: 100%;
     max-width: 250px;
     min-height: 150px;
     padding: 30px;
     background-color: rgba(0, 0, 0, 0.8);
     top: 15%;
     left: 50%;
     transition: opacity 0.1s;
 }

 .exact-build {
     width: 90%;
     max-width: 380px;
     padding: 15px;
     background-color: rgba(0, 0, 0, 1);
     border: 1px solid rgba(255, 249, 160, 0.73);
     color: white;
     text-align: justify;
 }

 .check-private {
     display: flex;
     flex-shrink: 0;
     color: #fff9a0;
     margin-bottom: 20px;
 }

 .build-label {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: #fff9a0;
     width: 90%;
     flex-shrink: 0;
 }

 .build-label p {
     text-align: center;
     flex-shrink: 0;
 }

 .build-name {
     max-width: 300px;
     /* flex-shrink: 0; */
     width: 90%;
 }

 .build-input {
     /* flex-shrink: 0; */
     padding: 5px;
     width: 90%;
     margin-bottom: 10px;
     background-color: black;
     border: solid 1px;
     border-color: rgba(255, 249, 160, 0.3);
     color: #fff9a0;
     box-sizing: border-box;
     color: white;
 }

 .build-desc {
     /* flex-shrink: 0; */
     flex-grow: 1;
     /* width: 90%; */
     max-width: 600px;
     min-height: 150px;
     /* height: 50%; */
     max-height: 400px;
     /* margin: 20px 0; */
 }

 .build-desc-box {
     /* flex-shrink: 0; */
     flex-grow: 1;
     height: 100%;
     resize: none;
     outline: none;
 }

 .build-input:focus {
     border-color: rgba(255, 249, 160, 0.73);
 }

 @media screen and (max-width: 1222px) {
     .build-saver {
         justify-content: flex-start;
     }
 }