.app {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.topbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    min-height: 56px;
    box-sizing: border-box;
    background-color: rgb(0,0,0);
    border-bottom: 1px solid rgba(255, 249, 160, 0.3);
    /* box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5); */
    font-weight: 600;
    font-size: 18px;
    z-index: 7079;
}

.top-left {
    display: flex;
    /* width: 160px; */
    padding: 0 6px;
    align-items: center;
    color: white;
}

.app-name {
    margin-left: 56px;
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.top-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    align-self: center;
    top: 0;
    font-weight: 600;
    font-size: 18px;
    height: 56px;
    z-index: 8088;
    color: white;
    /* color: rgba(255, 249, 160, 1); */
    /* text-shadow: 0 0 10px rgba(255, 249, 160, 1); */
}

.modular-subtitle {
    font-size: 12px;
}

.top-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 160px; */
    /* padding: 0 6px; */
    font-size: 0.7em;
    color: white;
}

.user-account {
    display: flex;
    align-items: center;
}

.user-account-item {
    padding: 3px;
    text-align: center;
    cursor: pointer;
    min-width: 50px;
}

.main-view {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.background-image {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/Warframe0001.jpg');
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    padding: 56px 0 0 192px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    padding: 56px 0 0 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    transition: opacity 100ms ease-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.fade-exit-done {
    opacity: 0;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.update-popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0vh;
    height: 80px;
    width: 100vw;
    background-color: rgb(50, 50, 60);
    z-index: 9200;
    transition: transform 200ms ease-in-out;
}

.show-update {
    transform: translateY(0px);
}

.hide-update {
    transform: translateY(80px);
}

.update-touch {
    color: white;
    font-size: 16px;
}

.update-button {
    color: rgb(255, 249, 160);
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

/* .fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 100ms ease-out;
}

.fade-enter, .fade-appear {
    opacity: 0;
}

.fade-enter.fade-enter-active, .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 100ms ease-out;
} */

/* @media screen and (min-width: 1203px) {

} */
@media screen and (min-width: 1203px) {
    .topbar {
        z-index: 9100;
    }
    .top-title {
        z-index: 9101;
    }
}

@media screen and (max-width: 1391px) {
    .background-image {
        background-image: url('./assets/Warframe0001small.jpg');
    }
    .loading-gif {
        left: calc(50% - 50px);
    }
    .main {
        padding: 56px 0 0 0;
    }
    .screen {
        padding: 56px 0 0 0;
    }
    .app-name {
        display: none;
    }
}
                                                                
@media screen and (max-width: 330px) {
    .modular-subtitle {
        font-size: 10px;
    }
}