.slot-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 150px;
    height: 219.55px;
    margin: 3px;
    transition: transform 0.2s;
    perspective: 800px;
    perspective-origin: 50% 50%;
}

.handler-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: default;
    transition: opacity 200ms;
}

.handler-top-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -97.5px;
    width: 195px;
    height: 48px;
    transition: opacity 0.1s
}

.handler-bottom-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: -97.5px;
    width: 195px;
    height: 90px;
    transition: opacity 0.1s
}

.handler-rank {
    width: 40px;
    min-width: 40px;
}

.bottom-button-wrapper {
    display: flex;
    justify-content: center;
    width: 195px;
    height: 48px;
}

.handler-word-button {
    width: 75px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(240, 240, 240, 0.9);
    text-align: center;
    border-radius: 5px;
    border: solid 2px black;
    font-weight: 600;
}

.bottom-rank-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 5px;
    border: solid 2px black;
}

.handler-button-top {
    width: 65px;
    height: 35px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
    font-weight: 600;
}

.handler-remove {
    color: #ff0000;
}

.handler-swap {
    color: white;
    width: 78.25px;
}

.handler-done {
    width: 78.25px;
    min-height: 38px;
    color: #15E610;
}

.handler-riven {
    color: #aa50ce
}

.rank-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}

.handler-button-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

.handler-icon {
    position: relative;
    width: 28px;
    height: 32px;
    padding: 2px 4px;
    transition: all 0.2s;
}

.mod-card-wrapper {
    position: absolute;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
    /* -webkit-tap-highlight-color: transparent; */
}

.empty-slot {
    position: absolute;
    top: 5px;
    width: 140px;
    height: 205px;
    box-shadow: inset 0px 0px 8px 3px rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(255, 255, 255, 0.85);
    transition: all 200ms;
    z-index: 0;
}

.tapper {
    position: absolute;
    top: 89px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    color: rgb(190,190,190)
}

.slot-polarity {
    position: absolute;
    width: 22px;
    right: 8px;
    top: 8px;
}

.top-type {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 23px;
}

.top-type-exilus {
    width: 26px;
}

.hover-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 22px;
    left: -8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;
}

.hover-button {
    position: relative;
    margin-bottom: 1px;
    height: 23px;
    top: 0;
    left: 0;
    width: 23px;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 249, 160, 0.7);
    border: solid 1px;
    border-color: rgba(255, 249, 160, 0.6);
    border-radius: 5px;
    text-align: center;
    line-height: 22px;
    font-weight: 900;
    transition: all 200ms;
    user-select: none;
    font-size: 18px;
}

.max-rank-button {
    transform: rotate(-90deg);
}

.min-rank-button {
    transform: rotate(90deg);
}

.down-rank-button {
    line-height: 20px;
}

.handler-active {
    opacity: 1;
    pointer-events: auto;
    z-index: 9089;
}

.handler-inactive {
    opacity: 0;
    pointer-events: none;
}

@media screen and (min-width: 1203px) and (hover: hover) {
    .mod-card-wrapper:hover {
        transform: translateZ(0) scale(1.06, 1.06);
    }
    .mod-card-wrapper:hover .hover-buttons {
        opacity: 1;
        pointer-events: auto;
    }
    .mod-card-wrapper:hover .mod .aura-topper {
        transform: translateX(-1px);
    }
    .mod-card-wrapper:hover .mod .exilus-mod-icon {
        transform: translateX(-1px);
    }
    .hover-button:hover {
        color: rgba(255, 249, 160, 1);
        box-shadow: inset 0px 0px 12px 0px rgba(255, 249, 160, 0.9);
        border-color: rgba(255, 249, 160, 1);
    }
    .empty-slot:hover {
        box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
    }
}

@media screen and (max-width: 1202px) {
    .handler-background {
        display: block;
    }
    .slot-wrapper {
        perspective: unset;
        perspective-origin: unset;
    }
    .empty-slot {
        cursor: pointer;
    }
}